Flask/app/scData.py
Flask/app/server_lifecycle.py
Flask/app/routes.py
Flask/scPortal.sublime-project
Flask/scPortal.sublime-workspace
Flask/requirements.txt
Flask/pyvenv.cfg
Flask/migrations/
Flask/logs/
Flask/datastore/
Flask/app/scData.py
Flask/app/Notes.txt
Flask/app/UserSettings.py
Flask/app/ProcessedData.h5ad
Flask/app/routes.py
Flask/app/templates/
React/package-lock.json
React/TODO LIST.txt
React/src/old_code.txt
React/src/testBokeh.js
React/src/test.js
React/src/backup.js
React/PortalReact.sublime-project
React/PortalReact.sublime-workspace
